body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #F9F8EB;
  color: #33425B;
}

header {
   padding: 12px;
   border-bottom: 5px solid #87DFD6;
   box-shadow: 0px 0px 20px #000;
   margin-bottom: 30px;

  }

header h1 {
  padding: 0;
  margin: 0;
  font-size: 18px;
  text-indent: 10px;
}
.container{
width: 80%;
margin: 0 auto;
padding: 10px;

}

.note-form {
  border-bottom:1px solid #eee;
  padding: 0px 10px 30px 10px;
  vertical-align: middle;
  text-align: center;

}

.form-input {
  width: 100%;
  display: block;
}


.form-input input {
  display: inline-table;
  padding: 14px 0;
  font-size: 18px;
  border:none;
}

.form-input input[type="text"] {
   width: 80%;
   text-indent: 10px;
   color: #33425B;
  
}

.form-input input[type="submit"] {
  width: 20%;
 cursor: pointer;
 background: #87DFD6;
}

.delete {
  background: #B53B3B;
  color: #eee;
  padding: 4px 6px;
  top:0;
  position: absolute;
  text-align: center;
  right: 0px;
  cursor: pointer;
}

.delete:hover {
  background: #E62525;
}
.note-item {
  color: #111;
  background: #F9F8EB;
  position: relative;
  box-shadow: 0px 1px 2px #111;
  padding: 40px 12px 12px 12px;
  font-size: 20px;
  margin-bottom: 10px;
  animation: slideDown 0.600s ease-in-out;
}
@keyframes slideDown {
  0% {transform: translateY(-20px); opacity: 0 }
  100% {transform: translateY(0px); opacity: 1 }
}

@media (min-width:0px) and (max-width: 600px ){

  .form-input input[type="text"] {
    display: block;
    width: 100%;
  }

  .form-input input[type="submit"] {
    display: block;
    width: 100%;
  }

}